table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #FFFFFF;
}
tr:nth-child(odd) {
    background: #F8F8F8;
}
tr:nth-child(1) {
    background: none;
}
